.App {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    max-width: 650px;
    max-height: 100%;
    width: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 15px;
}